.from {
display: flex;
     align-items: center;
     justify-content: center;
     .from-img{
        width: 457.6px;
        height: 660px;
        margin-right: 50px;
        position: relative;
     }
    .from-description{
        h2{
            font-family: $ibmsans;
            font-size: 48px;
            color: $oscuro;
            letter-spacing: 0;
            font-weight: 400;
        }
        p{
            font-family: $ibmmono;
            font-size: 16px;
            color: $oscuro;
            letter-spacing: 0;
            line-height: 24px;
            font-weight: 400;
            text-align: justify;
            width: 464px;
            height: 204px;
            }
        }
    }

@media screen and (max-width:767px) {
.from {
    display: flex;
    flex-direction: column;
    width: 100%;
        
        .from-img {
                width: 360px;
                height: 519px;
                margin-top: 20px;
                margin-right: 0px;
                position: relative;
                top: -60px;
            }
        
        .from-description {
            h2{
                font-family: $ibmsans;
                font-size: 36px;
                color: $oscuro;
                letter-spacing: 0;
                line-height: 42px;
                height: 84px;  
                margin: 27px 16px 8px 16px;
            }
            p {
                height: 254px;
                width: auto;
                font-size: 14px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 22px;
                margin: 8px 16px 54px 16px;
            }
}
}
}
